{% extends 'base.html'  %}


{% block body %}
<h2 class="container">
<h3>Home </h3>
<div class="row">
    <div class="col s12">
        <ul>
            <form action="/post/" method="POST">
                <div class="container">
                    {% csrf_token %}
                {{ post_form }}
                <button type="submit" class="btn wave-effect">Post</button>
            </div>
            </form>
             
            
            {% for post in posts %}
        
             <li> 
                 <div class="container">
                    {% include 'social/component/post.html' %}
                </div>
             </li>
        
        
            {% endfor%}
        </ul>
    </div>
</div>
</h2>


{% endblock %}