<div class="card">
    <div class="card-image">
        {% if post.image %}
      <img src="/media/{{ post.image }}" style="width:25%">
      {% endif %}
      
    </div>
    <div class="card-content">
        <span class="card-title"> Post By - {{ post.user.first_name }} {{ post.user.last_name }}</span>
        <span class="card"> Post created at - {{ post.created_at }} </span>
      <p>

            {{post.content}}
      </p>
    </div>
    <div class="card-action">
      <a href="#" onclick="Likepost( {{ post.pk }} )">{{ post.likes_set.count }} Likes</a>
      <a class="modal-trigger" href="#postmodal{{post.id}}">{{ post.comment_set.count }} Comments</a>
    </div>
  </div>

  <div id=  "postmodal{{post.id}}" class="modal">
    <div class="modal-content">
      <h4>Comments</h4> 
      <ul> 
        {% for comment in post.comment %}
       <li>
         {{ comment.user.first_name }} - {{comment.content}}
       </li> 

          {% endfor %}
      </ul>
    </div>
  </div>